.banner {
    background: none repeat scroll 0 0 lightBlue;
    height: 100px;
    margin-bottom: 20px;
}


.bannerlogo {
    float:left;
    width:100px;
    height:100px;
}

.bannertext {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}

.title {
    font-size:2em;
    font-weight:bolder;
}

.subtitle {
    font-size:1.2em;
    font-weight:bolder;
}

.container {
    margin: auto;
    overflow: auto;
    width: 98%;
}

.historyColumn {
    width:200px;
    float: left;
}

.columnHeader {
    font-weight:bolder;
}

.historyTable {
    display: inline-block;
    width: 2000px;
    padding:10px;
    background-color: #F0F0F0;
}

.columnItem {
    cursor: pointer;
    padding-left: 25px;
}

.down {
    background-image:url('arrow_down.png');
    background-repeat:no-repeat ;
}
.up {
    background-image:url('arrow_up.png');
    background-repeat:no-repeat ;
}
.new {
    background-image:url('new.png');
    background-repeat:no-repeat ;
}

.level {
    background-image:url('stable.png');
    background-repeat:no-repeat ;
}

.tweetImage {
    width:50px;
    height:50px;
    float: left;
}

.tweetText {
    height:50px;;
    float: left;
    padding-left:20px;
}

.tweets {
    margin-top:20px;
}

.tweet {
    margin-left:20px;
    clear: both;
    padding-top: 10px;
}

.tweetText {
    float: left;
    height: 50px;
    padding: 10px;
}

.sectiontitle {
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: underline;
}

.tableheader {
    margin-bottom:10px;
}

.icon {
    position:relative;
    top:5px;
}

.icondescription {
    margin-right: 30px;
}

