.container {
    width:100%;
    height:500px;
}

.historyColumn {
    width:200px;
    float: left;
}

.columnHeader {
    font-weight:bolder;
}

.historyTable {
    display: inline-block;
    height: 300px;
    width: 2000px;
}

.columnItem {
    cursor: pointer;
    padding-left: 25px;
}

.down {
    background-image:url('arrow_down.png');
    background-repeat:no-repeat ;
}
.up {
    background-image:url('arrow_up.png');
    background-repeat:no-repeat ;
}
.new {
    background-image:url('new.png');
    background-repeat:no-repeat ;
}

.level {
    background-image:url('stable.png');
    background-repeat:no-repeat ;
}

.tweetImage {
    width:50px;
    height:50px;
    float: left;
}

.tweetText {
    height:50px;;
    float: left;
    padding-left:20px;
}

.tweets {
    margin-left:50px;
}

.tweet {
    clear: both;
    padding-top: 10px;
}

.tweetText {
    float: left;
    height: 50px;
    padding: 10px;
}
